* {
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    background-color: #fff;
}

/** Navbar **/

.navbar {
    background: transparent !important;
    margin-top: 70px;
}

.navbar-brand{
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    margin-left: 100px;
}

.nav-item.dropdown{
    margin-right: 100px;
}

.nav-link .dropdown-toggle{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.dropdown-item{
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}

.navbar-toggler{
    border: none !important;
    color: transparent !important;
    text-decoration: none;
    margin-right: 0px;
}

.dropdown-item{
    cursor: text;
}

/** Intro **/

.intro {
    width: 89%;
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.text-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 42%;
}

.main-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.info-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #191A15;
}

.info-text-top{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #191A15;
    margin-top: 44px;
}

.info-text-last{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #191A15;
    margin-bottom: 100px;
}

.call-btn{
    width: 274px;
    height: 62px;
    background: #FF6464;
    border-radius: 2px;
    transition: .5s;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 150px;
}

.call-btn:hover{
    transition: all .5s ease-in;
    transform: translate(0,-2px);
}

.ellips{
    padding-right: 14px;
}

/** Info**/

.info {
    width: 89%;
    display: flex;
    justify-content: space-between;
}

.wrapper{
    background: #EDF7FA;
    background-size: 100%;
}

.text-info-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-text-2{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-top: 80px;
    margin-bottom: 60px;
}

.info-text-2{
    font-weight: 500;
    font-size: 24px;
    line-height: 55px;
    color: #21243D;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
}

.mail-btn, .viber-btn, .whatsapp-btn{
    width: 274px;
    height: 62px;
    background: #FF6464;
    border-radius: 2px;
    transition: .5s;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 130px;
}

.mail-btn:hover{
    transition: all .5s ease-in;
    transform: translate(0,-2px);
}

.viber-btn:hover{
    transition: all .5s ease-in;
    transform: translate(0,-2px);
}

.whatsapp-btn:hover{
    transition: all .5s ease-in;
    transform: translate(0,-2px);
}

/** Footer**/

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.text-foot {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.contacts-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #21243D;
}

.coperights{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
}

/** Media until the end **/

@media (max-width: 1512px) {
    .text-info {
        width: 70%;
    }

    .buttons {
        width: 62%;
    }
}

@media (max-width: 1366px) {
    .buttons {
        width: 70%;
    }
}

@media (max-width: 1280px) {
    .buttons {
        width: 72%;
    }
}

@media (max-width: 1024px) {
    .buttons{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .text-info {
        width: 80%;
    }

    .buttons {
        width: 72%;
    }

    .navbar-toggler{
        margin-right: 100px;
    }

    .nav-item.dropdown{
        margin-left: 100px;
    }

    .buttons{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }
    .mail-btn, .viber-btn{
        margin-bottom: 20px;
    }
}

@media (max-width: 810px) {
    .text-info {
        width: 90%;
    }

    .buttons{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }

    .mail-btn, .viber-btn{
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-brand{
        margin-left: 30px;
    }

    .navbar-toggler{
        margin-right: 30px;
    }

    .text-info {
        width: 100%;
      }

      .nav-item.dropdown{
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar-brand{
        margin-left: 0px;
    }

    .navbar-toggler{
        margin-right: 0px;
    }

    .text-info {
        width: 100%;
      }

      .nav-item.dropdown{
        margin-left: 0px;
    }
}


