html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

/** Header start **/

.header{
    display: flex;
    width: 100%;
}

.container1{
    width: 100%;
    height: 850px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(248,59,127,1) 100%);
}

.nav-item:first-child{
    margin-left: 70px;
}

.nav-item:last-child{
    padding-right: 0px;
}

.nav-item{
    padding-right: 40px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    transition: .3s;
}

.nav-item:hover{
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.brand-name{
    margin-left: 80px;
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.brand-name:hover{
    color: #FFFFFF;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.login-btn{
    margin-right: 50px;
    color: #FFFFFF;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    transition: .3s;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.login-btn:hover{
    color: #000;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.sign-up-btn{
    margin-right: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 148px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border-radius: 7px;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.sign-up-btn:hover{
    color: #FFFFFF;
    background-color: #000000;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.navbar-toggler{
    border: none !important;
    color: transparent !important;
    text-decoration: none;
    margin-right: 80px;
}

.container2{
    margin-top: 150px;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.main-text{
    font-weight: 700;
    font-size: 90px;
    line-height: 113%;
}

.text-under{
    margin-top: 28px;
    font-weight: 300;
    font-size: 20px;
    line-height: 113.5%;
}

.phone-container {
    width: 100%;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phones {
    width: -150%;
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.phonel{
    margin-top: 60px;
}

.phoner{
    margin-top: 60px;
}

.line{
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 900px;
}


/** Intro end end **/

/** About us start **/

.aboutus{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images{
    margin-top: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    cursor: pointer;
}


/**=== Cards section ==**/
/*1*/

.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-text{
    margin-top: 250px;
    font-weight: 700;
    font-size: 90px;
    line-height: 113.5%;
    text-align: center;
    color: #231F20;
}

.cards{
    width: 80%;
    height: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.first-card{
    margin-top: 100px;
    width: 622px;
    height: 400px;
    background: linear-gradient(285.76deg, #D90C56 16.91%, #FFD109 112.79%);
    box-shadow: -12px 12px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.fcphone{
    margin-top: -150px;
    padding-left: 22px;
}

.words-1{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: -202px;
}

.text-top{
    font-weight: 600;
    font-size: 36px;
    line-height: 113.5%;
    color: #231F20;
}

.text-bottom{
    font-weight: 400;
    font-size: 24px;
    line-height: 124.5%;
    color: #73686B;
}

.more{
    width: 228px;
    height: 69px;
    background-color: #FFFFFF;
    border: 2px solid #121A27;
    box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #121A27;
    margin-top: 40px;
    transition: .3s;
    cursor: pointer;
    margin-left: 0px;
}

.more:hover{
    color: #FFFFFF;
    background-color: #000000;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.more2{
    width: 228px;
    height: 69px;
    background-color: #FFFFFF;
    border: 2px solid #121A27;
    box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #121A27;
    margin-top: 40px;
    transition: .3s;
    cursor: pointer;
    margin-left: 0px;
}

.more2:hover{
    color: #FFFFFF;
    background-color: #000000;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

/*2*/

.second-card{
    margin-top: 911px;
    width: 622px;
    height: 400px;
    background: linear-gradient(285.76deg, #D90C56 16.91%, #FFD109 112.79%);
    box-shadow: -12px 12px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.scphone{
    margin-top: -180px;
    padding-left: 22px;
}

.words-2{
    display: flex;
    flex-direction: column;
    margin-left: -1735px;
    margin-top: 850px;
}
/**=== Cards section end ==**/


/** Clients cont start **/

.clients-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-text{
    font-weight: 700;
    font-size: 90px;
    line-height: 113.5%;
    text-align: center;
    color: #231F20;
    margin-top: 250px;
}

.clients-text-under{
    font-weight: 300;
    font-size: 20px;
    line-height: 113.5%;
    text-align: center;
    color: #121A27;
    margin-top: 30px;
}

/**=== Rows section ==**/
/*1*/

.rows{
    width: 80%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.first-row{
    align-items: center;
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
}

.r13{
    margin-top: -12px;
}
/**=== Rows section end ==**/


/** Feedback cont start **/

.feedback-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-text{
    font-weight: 700;
    font-size: 90px;
    line-height: 113.5%;
    text-align: center;
    color: #231F20;
    margin-top: 150px;
}

.feedback-text-under{
    font-weight: 300;
    font-size: 20px;
    line-height: 113.5%;
    text-align: center;
    color: #121A27;
    margin-top: 30px;
}

/**=== Feedbck section ==**/
/*1,2*/
.feedback-cards{
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.first-feedback{
    width: 626px;
    height: 274px;
    background: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
    border-radius: 15px
}

.second-feedback{
    width: 626px;
    height: 274px;
    background: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
    border-radius: 15px
}

.fcard-text{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.5%;
    color: #73686B;
    padding-top: 40px;
    padding-left: 40px;
    opacity: 100%;
}

.avatar{
    padding-top: 12px;
    padding-left: 40px;
}

.nsection{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    margin-bottom: 0px;
}

.user_name{
    font-weight: 700;
    font-size: 24px;
    line-height: 113.5%;
    color: #231F20;
    padding-left: 140px;
}

.user_choice{
    font-weight: 400;
    font-size: 16px;
    line-height: 113.5%;
    color: #231F20;
    padding-left: 140px;
    margin-top: -15px;
}

/**=== Feedbck section end ==**/

/** faQ cont start **/

.faq-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-text{
    font-weight: 700;
    font-size: 90px;
    line-height: 113.5%;
    text-align: center;
    color: #231F20;
    margin-top: 150px;
    margin-bottom: 120px;
}

/**=== Faqs section ==**/
/*1*/
.faq-cards{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.btn{
    display: flex;
    align-items: center;
    height: 140px;
    background: #EDEDED;
    border-radius: 15px;
    border-color: #EDEDED;
    font-weight: 500;
    font-size: 24px;
    line-height: 113.5%;
    letter-spacing: 0.01em;
    color: #231F20;
    user-select: none;
    margin-left: 30px;
}

.btn:hover{
    display: flex;
    height: 140px;
    background: #EDEDED;
    border-radius: 15px;
    border-color: #EDEDED;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.plus{
    padding-left: 55px;
    padding-right: 40px;
}

.minus{
    padding-left: 55px;
    padding-right: 40px;
}

.card{
    width: 900px;
    height: 230px;
    background: #FFFFFF;
    border-radius: 15px;
    outline: 0;
    border: none;
    margin-left: 10px;
}

.zagolovok{
    font-weight: 500;
    font-size: 24px;
    line-height: 113.5%;
    letter-spacing: 0.01em;
    color: #231F20;
}

.under-faq-text{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.5%;
    color: #73686B;
    padding-left: 125px;
    padding-top: 10px;
}

/** faQ cont end **/

/** download cont start **/

.download-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-text{
    font-weight: 700;
    font-size: 90px;
    line-height: 113.5%;
    text-align: center;
    color: #231F20;
    margin-top: 150px;
    margin-bottom: 120px;
}

.download-text-under{
    font-weight: 300;
    font-size: 20px;
    line-height: 113.5%;
    color: #121A27;
    text-align: center;
    margin-top: -80px;
}

.images-dowload{
    display: flex;
    width: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.byme{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 113.5%;
    color: #F82690;
}

.contact-link{
    text-decoration: none;
}

/** Media until the end **/

@media (max-width: 2560px) {
    .words-1 {
        margin-right: -1230px;
    }

    .btn {
        margin-left: 210px;
    }

    .card {
        margin-left: 205px;
    }

}

@media (max-width: 1920px) {
    .btn {
        margin-left: 30px;
    }

    .words-1 {
        margin-right: -205px;
    }

    
    .card {
        margin-left: 25px;
    }

}



@media (max-width: 1512px) {
    .words-1 {
        margin-right: 456px;
    }

    .feedback-cards {
        width: 85%;
    }

    .faq-cards {
        width: 63%;
    }
}

@media (max-width: 1440px) {
    .cards {
        width: 90%;
    }

    .words-1 {
        margin-right: 300px;
    }

    .feedback-cards {
        width: 90%;
    }

    .faq-cards {
        width: 67%;
    }
}

@media (max-width: 1366px) {
    .faq-cards {
        width: 70%;
    }

    .words-1 {
        margin-right: 430px;
      }

    .feedback-cards {
        width: 95%;
    }

}


@media (max-width: 1280px) {
    .fcphone{
        display: none;
    }

    .first-card{
        display: none;
    }

    .scphone{
        display: none;
    }

    .second-card{
        display: none;
    }

    .rows {
        width: 100%;
    }

    .feedback-cards {
        width: 99%;
    }

    .faq-cards {
        width: 75%;
    }

}

@media (max-width: 991px) {
    .nav-item:first-child{
        margin-left: 0px;
    }

    .buttons-wrapper {
        justify-content: center;
    }
    
    .sign-up-btn {
        margin-right: 0px;
    }

    .phoner{
        display: none;
    }

    .phonel{
        display: none;
    }

    .cards{
        margin-top: 0px;
    }

    .words-2 {
        margin-top: 580px;
      }

    .clients-text {
        margin-top: 10px;
    }

    .feedback-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-feedback{
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .nsection{
        margin-bottom: 25px;
    }

    .faq-text {
        margin-top: 200px;
    }

    .faq-cards {
        width: 97%;
      }
}

@media (max-width: 810px) {
    .btn {
        width: 720px;
    }

    .btn:hover{
        width: 720px;
    }

    .card {
        width: 720px;
    }
}


@media (max-width: 768px) {
    .navbar-toggler{
        margin-right: 20px;
    }

    .brand-name{
        margin-left: 20px;
    }

    .rows{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-row{
        width: 90%;
    }

    
    .second-row{
        width: 90%;
    }

    .btn{
        width: 650px;
    }

    .btn:hover{
        width: 650px;
    }

    .card{
        width: 650px;
    }

    .faq-text {
        margin-top: 250px;
    }

    .faq-cards {
        width: 93%;
      }
}

@media (max-width: 428px) {
    .phones {
        width: 0%;
    }

    .phonec {
        display: none;
    }

    .main-text {
        font-size: 50px;
    }

    .images {
        margin-top: -130px;
        flex-direction: column;
    }

    .aboutus-text {
        margin-top: 27px;
        font-size: 50px;
    }

    .text-top{
        font-size: 24px;
    }

    .text-bottom{
        font-size: 18px;
    }

    .more2 {
        margin-left: 163px;
    }

    .clients-text {
        margin-top: -206px;
        font-size: 50px;
    }

    .clients-text-under{
        font-size: 18px;
    }

    .r13{
        display: none;
    }

    .first-row {
        width: 92%;
    }

    .r12 {
        margin-left: -105px;
        margin-top: 164px;
    }

    .feedback-text {
        margin-top: 148px;
        font-size: 50px;
    }

    .feedback-text-under{
        font-size: 18px;
    }

    .first-feedback {
        margin-top: 205px;
        margin-bottom: 60px;
    }

    .first-feedback {
        width: 405px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .second-feedback {
        width: 405px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .faq-text {
        margin-top: 400px;
    }

    .btn{
        width: 350px;
    }

    .btn:hover{
        width: 350px;
    }

    .card{
        width: 350px;
    }

    .under-faq-text {
        font-size: 16px;
        padding-left: 0px;
    }

    .zagolovok{
        font-style: 18px;
    }

    .faq-cards {
        width: 96%;
    }

    .download-text {
        margin-top: 148px;
        font-size: 50px;
    }

    .download-text-under{
        font-size: 18px;
    }

    .minus{
        display: none;
    }

    .images-dowload {
        margin-top: 50px;
        flex-direction: column;
    }
    .more2 {
        margin-left: 1px;
      }
}

@media (max-width: 425px) {
    .phones {
        width: 0%;
    }

    .phonec {
        display: none;
    }

    .main-text {
        font-size: 50px;
    }

    .images {
        margin-top: -130px;
        flex-direction: column;
    }

    .aboutus-text {
        margin-top: 27px;
        font-size: 50px;
    }

    .text-top{
        font-size: 24px;
    }

    .text-bottom{
        font-size: 18px;
    }

    .more2 {
        margin-left: 163px;
    }

    .clients-text {
        margin-top: -206px;
        font-size: 50px;
    }

    .clients-text-under{
        font-size: 18px;
    }

    .r13{
        display: none;
    }

    .first-row {
        width: 92%;
    }

    .r12 {
        margin-left: -105px;
        margin-top: 164px;
    }

    .feedback-text {
        margin-top: 148px;
        font-size: 50px;
    }

    .feedback-text-under{
        font-size: 18px;
    }

    .first-feedback {
        margin-top: 205px;
        margin-bottom: 60px;
    }

    .first-feedback {
        width: 405px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .second-feedback {
        width: 405px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .faq-text {
        margin-top: 400px;
    }

    .btn{
        width: 350px;
    }

    .btn:hover{
        width: 350px;
    }

    .card{
        width: 350px;
    }

    .under-faq-text {
        font-size: 16px;
        padding-left: 0px;
    }

    .zagolovok{
        font-style: 18px;
    }

    .faq-cards {
        width: 96%;
    }

    .download-text {
        margin-top: 148px;
        font-size: 50px;
    }

    .download-text-under{
        font-size: 18px;
    }

    .minus{
        display: none;
    }

    .images-dowload {
        margin-top: 50px;
        flex-direction: column;
    }
    .more2 {
        margin-left: 1px;
      }
}


@media (max-width: 375px) {
    .phones {
        width: 0%;
    }

    .phonec {
        display: none;
    }

    .images {
        margin-top: -130px;
    }

    .aboutus-text {
        margin-top: 27px;
        font-size: 50px;
    }

    .clients-text {
        margin-top: -380px;
        font-size: 50px;
      }
    
    .text-top{
        font-size: 24px;
    }

    .text-bottom{
        font-size: 15px;
    }

    .more2 {
      margin-left: 1px;
    }

    .r13{
        display: none;
    }

    .first-row {
        width: 92%;
    }

    .r12 {
        margin-left: -134px;
    }

    .feedback-cards {
        width: 100%;
      }

    .first-feedback {
        width: 330px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .second-feedback {
        width: 330px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .faq-text {
        margin-top: 430px;
    }

    .btn{
        width: 300px;
    }

    .btn:hover{
        width: 300px;
    }

    .card{
        width: 300px;
    }

    .faq-cards {
        width: 97%;
    }

    .words-2 {
        display: flex;
        flex-direction: column;
        margin-top: 471px;
        margin-right: -14px;
    }
}

@media (max-width: 350px) {
    .phones {
        width: 0%;
    }

    .phonec {
        display: none;
    }

    .images {
        margin-top: -130px;
    }

    .aboutus-text {
        margin-top: 27px;
        font-size: 50px;
    }

    .clients-text {
        margin-top: -380px;
        font-size: 50px;
      }
    
    .text-top{
        font-size: 24px;
    }

    .text-bottom{
        font-size: 15px;
    }

    .more2 {
      margin-left: 1px;
    }

    .r13{
        display: none;
    }

    .first-row {
        width: 92%;
    }

    .r12 {
        margin-left: -134px;
    }

    .feedback-cards {
        width: 100%;
      }

    .first-feedback {
        width: 330px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .second-feedback {
        width: 330px;
        height: 350px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.2)opacity 0.6;
        border-radius: 15px;
    }

    .faq-text {
        margin-top: 430px;
    }

    .btn{
        width: 300px;
    }

    .btn:hover{
        width: 300px;
    }

    .card{
        width: 300px;
    }

    .faq-cards {
        width: 100%;
    }

    .words-2 {
        display: flex;
        flex-direction: column;
        margin-top: 471px;
        margin-right: -14px;
    }
}