/**Benefits**/

.whyme{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 300px;
    color: #0C0C0C;
    text-shadow: 
		-0   -1px 0   #999999,
		 0   -1px 0   #999999,
		-0    1px 0   #999999,
		 0    1px 0   #999999,
		-1px -0   0   #999999,
		 1px -0   0   #999999,
		-1px  0   0   #999999,
		 1px  0   0   #999999,
		-1px -1px 0   #999999,
		 1px -1px 0   #999999,
		-1px  1px 0   #999999,
		 1px  1px 0   #999999,
		-1px -1px 0   #999999,
		 1px -1px 0   #999999,
		-1px  1px 0   #999999,
		 1px  1px 0   #999999;
    z-index: 0;
    left: 0;
    top: 930px;
    opacity: 0.8;
}

.benefits{
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin-top: 360px;
    flex-direction: column;
}

.text-benefits {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.benefits-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
}

.card1{
    width: 250px;
    height: 100%;
}

.cardimg{
    display: flex;
}

.card-text{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.card-main{
    margin-top: 62px;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
}

.card-under{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}


@media (max-width: 768px) {
    .whyme{
        display: none;
    }

    .benefits{
        margin-top: 150px;
      }

    .benefits-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .benefits-card {
        margin-top: 42px;
      }

    .card1, .card2, .card3{
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 32px;
    }
}


