.footer{
    display: flex;
    width: 100%;
    margin-top: 150px;
}

.text-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.up-btn{
    padding: 15px 20px;
    border: 2px solid #313439;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
    color: #313439;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    transition: .5s;
    margin-bottom: 40px;
}

.up-btn:hover{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background: transparent;
    transition: all .5s ease-in; 
}

.midfix{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: #0F0F0F;
  }