/**Intro**/

.intro{
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.text-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 42%;
}

.text-up{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}

.main-text{
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #FFFFFF;
}

.text-under{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #999999;
}

.line{
    width: 76px;
    height: 0px;
    border: 3px solid #999999;
    border-radius: 2px;
    margin: 32px 0px 22px 0px;
}

.info-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #999999;
}

.butts-wrapper{
    margin-top: 48px;
}

.call-btn{
    padding: 15px 20px;
    border: 2px solid #7456FF;
    border-radius: 5px;
    color: #7456FF;
    background: transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.call-btn:hover{
    color: #FFFFFF;
    background: #7456FF;
    transition: all .5s ease-in; 
}

.show-btn{
    padding: 15px 20px;
    border: 2px solid #313439;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
    color: #313439;
    margin-left: 42px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    transition: .5s;
}

.show-btn:hover{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background: transparent;
    transition: all .5s ease-in; 
}

.intro-ui{
        position: absolute;
        right: 0;
        top: 20 0px;
        z-index: 0;
}

@media (max-width: 1366px) {
    .intro {
        width: 88%;
    }

    .text-info {
        width: 44%;
    }
}

@media (max-width: 1280px) {
    .intro {
        width: 91%;
    }

    .text-info {
        width: 44%;
    }
}

@media (max-width: 991px) {

    .text-info {
        width: 100%;
    }

    .intro-ui{
        display: none;
    }
}

@media (max-width: 768px) {
    .butts-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .show-btn{
        margin-left: 0;
        margin-top: 24px;
    }
}

@media (max-width: 420px) {
    .butts-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .show-btn{
        margin-left: 0;
        margin-top: 24px;
    }
}

@media (max-width: 350px) {
    .butts-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .show-btn{
        margin-left: 0;
        margin-top: 24px;
    }
}

@media (max-width: 320px) {
    .main-text {
        font-size: 47px;;
      }
}
