/**Nav bar**/

.navbar{
    background: #0F0F0F;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    height: 140px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-left: 127px;
}

.colortext{
    color: #7456FF;
}

.mytheme{
    margin-right: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}

.mytheme:hover{
    color: #7456FF;
    transition: all .5s ease-in;
}

.contact-me-btn-nav-btn{
    margin-right: 127px;
    width: 124px;
    height: 60px;
    border: 2px solid #7456FF;
    border-radius: 5px;
    color: #7456FF;
    background: transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.contact-me-btn-nav-btn:hover{
    color: #FFFFFF;
    background: #7456FF;
    transition: all .5s ease-in; 
}

.navbar-toggler{
    border: none !important;
    color: transparent !important;
    text-decoration: none;
}

.navbar-collapse{
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

@media (max-width: 1366px) {
    .navbar-brand{
        margin-left: 68px;
    }

    .contact-me-btn-nav-btn{
        margin-right: 68px;
    }
}

@media (max-width: 1280px) {
    .navbar-brand{
        margin-left: 40px;
    }

    .contact-me-btn-nav-btn{
        margin-right: 40px;
    }
}

@media (max-width: 991px) {
    .navbar-brand{
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-collapse{
        width: 100%;
    }

    .contact-me-btn-nav-btn{
        margin-top: 22px;
    }
}

@media (max-width: 768px) {
    .navbar-brand{
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

}

@media (max-width: 728px) {
    .navbar-brand{
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

}

@media (max-width: 420px) {
    .navbar-brand{
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

}

@media (max-width: 350px) {
    .navbar-brand{
        margin-left: 10px;
    }

    .navbar-toggler{
        margin-right: 10px;
    }

}

@media (max-width: 320px) {
    .navbar-brand{
        margin-left: 4px;
    }

    .navbar-toggler{
        margin-right: 4px;
    }

}



