html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #181e2a;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  flex-direction: column;
}

/** Intro start here **/

.cont h2{
  color: #e3b85d;
  background: #000;
  padding: 20px;
  border-radius: 12px;
  font-size: 32px;
  font-family: 'Source Code Pro', monospace;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.color{
  color: #49a6e9;
}

.btn{
  background-color: transparent;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 6px;
  letter-spacing: 1.5px;
  cursor: pointer;
  outline: none;
  transition: .3s;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}

.btn:hover{
  background-color: #000;
  color: #FFFFFF;
  transition: all .4s ease-in;
  transform: translate(0,-2px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

/** Intro end here **/