*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-style: 500;
  font-size: 16px;
  background-color: #FFFF;
  color: #000;
}

/**Nav bar**/

.navbar-toggler{
    border: none !important;
    color: transparent !important;
    text-decoration: none;
}

.navbar-brand{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ff0000 !important;
}

.offcanvas-title {
    margin-bottom: -15px;
    color: #FFFF;
}

.balance{
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
}

.offcanvas-header{
    background-color: #303030;
    height: 100px;
}

.offcanvas-body{
    background-color: #696969;
}

.nav-link{
    transition: 0.5s;
    color: #FFFF !important;
    margin-bottom: 10px;
    font-style: 18px;
    font-weight: 600;
}

.icon{
    padding-right: 4px;
}

.offcanvas{
    border-radius: 30px;
}

.nav-link:hover{
    transition: all .4s ease-in;
    transform: translate(0,-1px);
}

.buttons-wrapper{
    position: absolute; 
    bottom: 24px;
    display: flex;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.chat, .location{
    width: 42px;
    height: 42px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FFFF;
    border-radius: 50%;
    outline: 2px solid #000;
}

.samokat{
    width: 150px;
    height: 42px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FFFF;
    border-radius: 30px;
    outline: 2px solid #000;
}


