body{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #0D1117;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid #23282E;
    border-radius: 8px;
    padding: 37px 37px 20px;
}

.text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.input{
    outline: none;
    margin: 15px 0;
    padding: 10px;
    border: #161B22;
    background-color: #161B22;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
}

.sign-in-but{
    color: #FFFFFF;
    font-size: 17px;
    background-color: #2EA043;
    border: none;
    border-radius: 3px;
    transition: .3s;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.sign-in-but:hover{
    transform: translate(0,-2px);
}

.under-text{
    font-size: 17px;
    margin-top: 20px;
}

.no-acc{
    color: #2EA043;
    text-decoration: none;
}

.msg{
    color: #FF0000;
    margin-top: 5px;
    text-align: center;
}

.exit-btn{
    color: #FF0000;
    text-decoration: none;
}