
 html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}

body{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #F9F9F9;
}

/** start/ header
 ================================================*/

.navbar{
    display: flex;
    width: 100%;
    background-color: white;
    box-sizing: inherit;
    height: 70px;
}

.container-fluid{
    display: flex;
    width: 1095px;
}

.navbar-brand{
    font-size: 22px;
    color: #000;
    margin-top: 15px;
    margin-left: 60px;
}

.nav-item{
    margin-left: 70px;
    text-decoration: none;
    font-size: 20px;
}

.nav_item:first-child{
    margin-left: 70px;
}


.navbar-nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    text-decoration: none;
}

.navbar-toggler{
    border: none !important
}

.collapse{
    margin-left: -50px;
}



/** Header end/ Start intro
 ================================================*/
.intro{
    width: 100%;
    height: 510px;
    padding-top: 30px;
}

.container{
    display: flex;
    width: 65%;
    width: 1000px;
    padding-top: 70px;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

.info_text_head{
    width: 525px;
    height: 71px;
    margin-top: -370px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}
.info_text_main{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.agent_img{
    display: flex;
    width: 277px;
    height: 492px;
    margin-top: -30px;
    margin-left: 576px;
}


/** Intro end/ Start main part (second_container)
 ================================================*/

.second_container {
    width: 100%;
    height: 496.82px;
    margin-top: 95px;
    background: rgb(95,214,184);
    background: linear-gradient(329deg, rgba(95,214,184,1) 0%, rgba(93,215,158,1) 60%);
}

.feature-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 71px;
}

.main_btn{
    display: inline-block;
    vertical-align: top;
    margin-left: -285px;
    margin-top: 80px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #5ED6AE;
    padding: 9px 13px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
}

.feature_items {
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 140px;
}

.skinchanger-btn {
    width: 236px;
    height: 56px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    
}

.aimbot-btn {
    width: 236px;
    height: 56px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.bunnyhop-btn {
    width: 236px;
    height: 56px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.more_btn {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 110px;
    width: 200px;
    height: 46px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

/** Main part end/ Start buy menu
 ================================================*/

.third-container {
    width: 100%;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices {
    width: 60%;
    height: 335px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 115px;
}

.first-price {
    width: 290px;
    height: 185.51px;
    background: #F9F9F9;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.second-price {
    width: 290px;
    height: 185.51px;
    background: #F9F9F9;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: -40px;
}

.third-price {
    width: 290px;
    height: 185.51px;
    background: #F9F9F9;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.prices-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-top: 65px;
}

.price-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    margin-top: 29px;
}

.buy-btn {
    width: 254px;
    height: 43.42px;
    background: #5ED7A7;
    border-radius: 20px;
    border: none;
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 57px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/** Buy menu end/ Footer start
 ================================================*/

.footer{
    width: 100%;
    height: 103px;
    left: 0px;
    top: 1643px;
    background: #000000;
}

.footer_contact{
    padding-top: 27px;
    text-align: center;
}

/** Footer end
 ================================================*/



 @media (max-width: 1919px) {
    .container{
        width: 50%;
    }
}


@media (max-width: 1280px) {
    .feature_items{
        width: 75%;
    }
}


@media (max-width: 1536px) {
    .prices{
        width: 65%;
    }
    .container{
        width: 55%;
    }
}

@media (max-width: 1349px) {
    .container{
        width: 62%;
    }
    
}

@media (max-width: 1366px) {
    .prices{
        width: 70%;
    }
    
}

@media (max-width: 1280px) {
    .prices{
        width: 80%;
    }
}

@media (max-width: 1280px) {
    .container{
        width: 65%;
    }
}

@media (max-width: 991px) {
    .prices{
        width: 95%;
    }
}

@media (max-width: 991px) {
    .agent_img{
        display: none;
    }
    .container{
        padding-top: 450px;
        width: 47%;
    }
    .info_text_head{
        padding-top: 130px;
    }
    .feature_items{
        width: 85%;
    }
}

@media (max-width: 811px) {
    .agent_img{
        display: none;
    }
    .info_text_main{
        margin-top: 50px;
    }

    .container{
        padding-top: 450px;
        width: 85%;
    }

    .info_text_head{
        padding-top: 160px;
    }
    .feature_items{
        width: 95%;
    }

    .prices{
        width: 100%;
    }
}

@media (max-width: 991px) {
    .navbar-brand{
        margin-top: 5px;
    }
    .navbar-toggler{
        margin-top: -10px;
    }

}
@media (max-width: 810px) {
    .prices{
        width: 100%;
    }

    .feature_items{
        width: 95%;
    }

    .info_text_main{
        margin-top: 50px;
    }

    .container{
        padding-top: 450px;
        width: 85%;
    }

    .info_text_head{
        padding-top: 160px;
    }

    .third-container{
        height: 800px;
    }

    .prices-text{
        margin-top: -155px;
    }

    .prices{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-price{
        margin-top: 100px;
    }

    .second-price{
        margin-top: 40px;
    }
    
    .third-price{
        margin-top: 40px;
    }
    .buy-btn{
        margin-bottom: 26px;
    }
}

@media (max-width: 814px) {
    .prices{
        width: 100%;
    }

    .feature_items{
        width: 95%;
    }

    .info_text_main{
        margin-top: 50px;
    }

    .container{
        padding-top: 450px;
        width: 85%;
    }

    .info_text_head{
        padding-top: 160px;
    }

    .third-container{
        height: 800px;
    }

    .prices-text{
        margin-top: -155px;
    }

    .prices{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-price{
        margin-top: 100px;
    }

    .second-price{
        margin-top: 40px;
    }
    
    .third-price{
        margin-top: 40px;
    }
    .buy-btn{
        margin-bottom: 26px;
    }
}

@media (max-width: 890px) {
    .prices{
        width: 100%;
    }

    .feature_items{
        width: 95%;
    }

    .info_text_main{
        margin-top: 50px;
    }

    .container{
        padding-top: 450px;
        width: 85%;
    }

    .info_text_head{
        padding-top: 160px;
    }

    .third-container{
        height: 800px;
    }

    .prices-text{
        margin-top: -155px;
    }

    .prices{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-price{
        margin-top: 100px;
    }

    .second-price{
        margin-top: 40px;
    }
    
    .third-price{
        margin-top: 40px;
    }
    .buy-btn{
        margin-bottom: 26px;
    }
}

@media (max-width: 910px) {
    .prices{
        width: 100%;
    }

    .feature_items{
        width: 95%;
    }

    .info_text_main{
        margin-top: 50px;
    }

    .container{
        padding-top: 450px;
        width: 85%;
    }

    .info_text_head{
        padding-top: 160px;
    }

    .third-container{
        height: 800px;
    }

    .prices-text{
        margin-top: -155px;
    }

    .prices{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-price{
        margin-top: 100px;
    }

    .second-price{
        margin-top: 40px;
    }
    
    .third-price{
        margin-top: 40px;
    }
    .buy-btn{
        margin-bottom: 26px;
    }
}

@media (max-width: 971px) {
    .prices{
        width: 95%;
    }

    .feature_items{
        width: 85%;
    }

    .info_text_main{
        margin-top: 50px;
    }

    .container{
        padding-top: 450px;
        width: 85%;
    }

    .info_text_head{
        padding-top: 160px;
    }
}


@media (max-width: 885px) {

    .feature_items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skinchanger-btn{
        margin-top: -100px;
        margin-bottom: 30px
    }
    .aimbot-btn{
        margin-bottom: 30px;
    }
    .more_btn{
        margin-top: 60px;
    }
}

@media (max-width: 570px) {

    .prices-text{
        font-size: 25px;
    }
    
    .feature-title{
        font-size: 25px; 
    }

    .info_text_head{
        width: auto;
        font-size: 22px;
    }

    .info_text_main{
        font-size: 18px;
        margin-top: 80px;
    }

    .container{
        flex-direction: column;
        margin-top: -15px;
        width: 90%;
    }

    .navbar-toggler{
        margin-left: 100px;
    }
}

@media (max-width: 570px) {

    .prices-text{
        font-size: 25px;
    }
    
    .feature-title{
        font-size: 23px; 
    }

    .skinchanger-btn{
        font-size: 20px;
    }

    .aimbot-btn{
        font-size: 20px;
    }

    .bunnyhop-btn{
        font-size: 20px;
    }

    .more_btn{
        font-size: 20px;
    }

    .info_text_head{
        width: auto;
        font-size: 22px;
    }

    .info_text_main{
        font-size: 18px;
        margin-top: 95px;
    }

    .container{
        flex-direction: column;
        margin-top: -15px;
        width: 90%;
    }

    .navbar-toggler{
        margin-left: 10px;
    }

    .first-price-text{
        font-size: 20px;
    }

    .second-price-text{
        font-size: 20px;
    }

    .third-price-text{
        font-size: 20px;
    }
}
