html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
  font-family: 'Rubik';
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
  background-image: url(img/bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/** navbar start **/

.nav-item{
    margin-top: 10px;
    transition: .3s;
    font-weight: 500;
    line-height: 21px;
}

.offcanvas-backdrop.show {
    opacity: .50;
  }

.nav-item:hover{
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.brand-name{
    margin-top: 100px;
    margin-left: 200px;
}

.offcanvas-title{
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-toggler{
    border: none !important;
    color: none !important;
    text-decoration: none;
    margin-right: 80px;
}

/** intro start **/

.intro{
    display: flex;
    width: 89%;
    height: 335px;
    margin-top: 150px;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

.main-text{
    font-weight: 700;
    font-size: 64px;
    line-height: 67px;
}

.under-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: -10px;
}

.explore-btn{
    padding: 10px 20px;
    gap: 10px;
    width: 141px;
    height: 47px;
    background: #E30A17;
    box-shadow: 0px 2px 4px #831219;
    border: none;
    transition: .3s;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.explore-btn:hover{
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

/** details start **/

.details{
    display: flex;
    width: 89%;
    margin-top: 50px;
}

.details-container{
    display: flex;
    width: 76%;
    flex-direction: row;
}

.socialmedia{
    margin-top: 186px;
    width: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
}

.sm1{
    padding-right: 20px;
}

.sm2{
    padding-right: 20px;
}

.block{
    margin-left: 1164px;
    margin-top: 0px;
    width: 296px;
    height: 155px;
    background: linear-gradient(90.44deg, rgba(255, 255, 255, 0.5) -3.55%, rgba(255, 255, 255, 0) 120.14%);
    backdrop-filter: blur(23.4074px);
}

.up-text{
    padding-left: 35px;
    padding-top: 20px;
    font-weight: 900;
    font-size: 18.7259px;
    line-height: 22px;
}

.down-text{
    padding-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.details-btn{
    width: 296px;
    height: 54px;
    background: #E30A17;
    color: #FFFFFF;
    border: none;
    padding-left: 100px;
    transition: .3s;
}

.details-btn:hover{
    transition: all .5s ease-in;
    transform: translate(0,-4px);
}

.arrow{
    padding-right: 22px;
    padding-left: 15px;
}

.byme{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 113.5%;
    color: #000;
}

.contact-link{
    text-decoration: none;
}

/** Media until the end **/

@media (max-width: 2560px) {
    .intro {
        width: 67%;
    }

    .details-container {
        width: 82%;
    }

    .block {
        margin-left: 1855px;
    }

    .navbar-toggler{
        margin-top: 90px;
        margin-right: 200px;
    }

}

@media (max-width: 1920px) {
    .intro {
        width: 89%;
    }

    .details-container{
        width: 76%;
    }

    .block{
        margin-left: 1164px;
    }
}

@media (max-width: 1512px) {
    .brand-name {
        margin-left: 100px;
    }

    .intro {
        width: 100%;
    }

    .details-container {
        width: 80%;
    }

    .block {
        margin-left: 971px;
    }

    .navbar-toggler{
        margin-right: 100px;
    }
}

@media (max-width: 1440px) {

    .container {
        width: 88%;
    }

    .details-container {
      width: 85%;
    }

    .block {
        margin-left: 935px;
      }
}

@media (max-width: 1366px) {

    .details-container {
        width: 80%;
    }

    .block {
        margin-left: 844px;
      }
}

@media (max-width: 1280px) {

    .container {
        width: 86%;
    }

    .details-container {
        width: 82%;
      }
    
    .block {
        margin-left: 770px;
    }
}

@media (max-width: 991px) {

    .brand-name {
        margin-left: 80px;
        margin-top: 40px;
    }

    .navbar-toggler{
        margin-top: 45px;
        margin-right: 80px;
    }


    .details-container {
        width: 65%;
    }

    .block {
        margin-left: 430px;
    }

    .byme {
        margin-top: 160px;
    }

}

@media (max-width: 810px) {
    .container {
        width: 80%;
    }

    .block {
        margin-left: -32px;
    }

    .socialmedia{
        display: none;
    }

    .byme {
        margin-top: 200px;
    }
}

@media (max-width: 428px) {
    .brand-name {
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

    .main-text {
        font-size: 44px;
    }

    .block {
        margin-top: 60px;
    }

    .details-container {
        width: 52%;
    }
}

@media (max-width: 350px) {
    .brand-name {
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

    .main-text {
        font-size: 44px;
    }

    .block {
        margin-top: 60px;
    }

    .details-container {
        width: 61%;
    }
}


