html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  background-color: F8F8F8;
}
  
/** Header start **/

.header{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.ft{
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #272A31;
    margin-top: 36px;
    margin-right: 60px;
    text-decoration: none;
    transition: .3s;
}

.sourcecode{
    padding-right: 8px;
}

.cust{
    padding-right: 8px;
}

.st{
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #272A31;
    margin-top: 36px;
    text-decoration: none;
    transition: .3s;
}

.ft:hover{
    color: #272A31;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.st:hover{
    color: #272A31;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

/** Navbar start **/

.navbar{
    display: flex;
    box-sizing: inherit;
    margin-top: 37px;
    height: 144px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(46, 49, 56, 0.6);
}

.brand-name{
    font-weight: 800;
    font-size: 40px;
    line-height: 58px;
    color: #FFE400;
    text-decoration: none;
    margin-left: 150px;
    text-shadow: 
		-0   -1px 0   #2E3138,
		 0   -1px 0   #2E3138,
		-0    1px 0   #2E3138,
		 0    1px 0   #2E3138,
		-1px -0   0   #2E3138,
		 1px -0   0   #2E3138,
		-1px  0   0   #2E3138,
		 1px  0   0   #2E3138,
		-1px -1px 0   #2E3138,
		 1px -1px 0   #2E3138,
		-1px  1px 0   #2E3138,
		 1px  1px 0   #2E3138,
		-1px -1px 0   #2E3138,
		 1px -1px 0   #2E3138,
		-1px  1px 0   #2E3138,
		 1px  1px 0   #2E3138;
}

.brand-name:hover{
    color: #FFE400;
    text-shadow: 
		-0   -1px 0   #2E3138,
		 0   -1px 0   #2E3138,
		-0    1px 0   #2E3138,
		 0    1px 0   #2E3138,
		-1px -0   0   #2E3138,
		 1px -0   0   #2E3138,
		-1px  0   0   #2E3138,
		 1px  0   0   #2E3138,
		-1px -1px 0   #2E3138,
		 1px -1px 0   #2E3138,
		-1px  1px 0   #2E3138,
		 1px  1px 0   #2E3138,
		-1px -1px 0   #2E3138,
		 1px -1px 0   #2E3138,
		-1px  1px 0   #2E3138,
		 1px  1px 0   #2E3138;
}

.nav-item:first-child{
    margin-left: 600px;
}

.nav-item:last-child{
    padding-right: 50px;
}

.nav-item{
    padding-right: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #272A31;
    transition: .3s;
}

.nav-item:hover{
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.start-btn{
    width: 169px;
    height: 56px;
    background: #FFE400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    transition: .5s;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.start-btn:hover{
    background-color: #000;
    color: #FFFFFF;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.navbar-toggler{
    border: none !important;
    color: transparent !important;
    text-decoration: none;
}

/** Intro start **/

.intro{
    display: flex;
    width: 100%;
}

.intro-cont{
    display: flex;
    margin-top: 150px;
    width: 83%;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

.wi{
    color: gray;
    font-size: 15px;
}

.intro-text-head{
    font-weight: 800;
    font-size: 48px;
    line-height: 70px;
    color: #302F2F;
}

.line{
    width: 72px;
    height: 0px;
    border: 8px solid #FFE400;
    border-radius: 10px;
}

.intro-text-under{
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #302F2F;
    padding-top: 15px;
}

.start-btn-2{
    width: 149px;
    height: 46px;
    background: #FFE400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    transition: .5s;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: 50px;
}

.start-btn-2:hover{
    background-color: #000;
    color: #FFFFFF;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.uielement{
    width: 580px;
    height: 643px;
    background: url(.png);
    border-radius: 365px;
    margin-top: -530px;
    margin-left: 1013px;
}

/** Support start **/
.supp{
    display: flex;
    width: 100%;
    background: #C5C2C2;
}

.supp-cont{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 83%;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

.supp-text-head{
    font-weight: 800;
    font-size: 48px;
    line-height: 70px;
    color: #302F2F;
}

.line{
    width: 72px;
    height: 0px;
    border: 8px solid #FFE400;
    border-radius: 10px;
    margin-top: -20px;
}

.supp-text-under{
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #302F2F;
    padding-top: 15px;
}

/**=== Cards section ==**/
/*1*/

.cards-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.card1{
    width: 350px;
    height: 470px;
    width: 350px;
    background: #272A31;
    border-radius: 25px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.top-text{
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
    padding-left: 24px;
    padding-top: 45px;
}

.bottom-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 24px;
    padding-top: 22px;
}

.arrow{
    padding-left: 24px;
}

/*2*/

.card2{
    width: 350px;
    height: 470px;
    width: 350px;
    background: #FFE400;
    border-radius: 25px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.top-text2{
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    color: #272A31;
    padding-left: 24px;
    padding-top: 45px;
}

.bottom-text2{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #272A31;
    padding-left: 24px;
    padding-top: 22px;
}

/*3*/

.card3{
    width: 350px;
    height: 470px;
    width: 350px;
    background: #FFFFFF;
    border-radius: 25px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.top-text3{
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
    padding-left: 24px;
    padding-top: 45px;
}

.bottom-text3{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    padding-left: 24px;
    padding-top: 22px;
}

/** End block start **/

.endblock{
    display: flex;
    width: 100%;
}

.endblock-cont{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-end !important;
    margin-top: 130px;
    margin-bottom: 130px;
}

.man{
    width: 395px;
    height: 509px;
    margin-left: 160px;
    margin-top: 130px;
}

.big-text{
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
}

.small-text{
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.role{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-top: -10px;
}

.read-stories{
    width: 280px;
    height: 46px;
    background: #272A31;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFE400;
    margin-top: 30px;
    margin-left: -5px;
    transition: .5;
}

.read-stories:hover{
    transition: all .5s ease-in;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

/** footer start **/

.footer{
    display: flex;
    width: 100%;
    height: 830px;
    background: #272A31;
}

.footer-cont1{
    display: flex;
    width: 83%;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

.footername{
    font-weight: 800;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    padding-top: 48px;
}

.cont2{
    padding-top: 60px;
}

.i1,.i2,.i3,.i4{
    padding-right: 100px;
    cursor: pointer;
}

.i5{
    cursor: pointer;
}

.phnumber{
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 70px;
}

.phi{
    padding-right: 17px;
}

.under-block-footer{
    display: flex;
    width: 83%;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    margin-top: -670px;
}

.top{
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.under{
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;
    cursor: pointer;
}

.collum-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 60%;
}

.blockmail{
    margin-right: -640px;
    display: flex;
    flex-direction: column;
}

.main{
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}

.mini{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.input{
    outline: none;
    border: none;
    color: #FFFFFF;
    width: 286px;
    height: 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    background: #777777;
    border-radius: 15px;
    padding-left: 20px;
}

.subm{
    margin-top: 20px;
    width: 286px;
    height: 40px;
    background: #FFE400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    outline: none;
    border: none;
    transition: .4s;
}

.subm:hover{
    background-color: #000;
    color: #FFFFFF;
    transition: all .4s ease-in;
    transform: translate(0,-2px);
}

.byme{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 113.5%;
    color: #FFFFFF;
}

.contact-link{
    text-decoration: none;
}

/** Media until the end **/

@media (max-width: 1512px) {
    .nav-item:first-child{
        margin-left: 120px;
    }

    .intro-cont {
        width: 78%;
    }

    .supp-cont {
        width: 78%;
    }

    .uielement {
        margin-left: 715px;
        margin-top: -540px;
    }

    .endblock-cont {
        width: 55%;
    }

    .blockmail {
        margin-right: -520px;
    }
}

@media (max-width: 1440px) {
    .brand-name {
        margin-left: 103px;
    }

    .nav-item:first-child {
        margin-left: 140px;
    }

    .intro-cont {
        width: 84%;
    }

    .supp-cont {
        width: 84%;
    }
}

@media (max-width: 1366px) {
    .brand-name {
        margin-left: 50px;
    }

    .nav-item:first-child {
        margin-left: 175px;
    }

    .intro-cont {
        width: 90%;
    }

    .supp-cont {
        width: 90%;
    }

    .man {
        margin-left: 55px;
    }

    .endblock-cont {
        width: 60%;
    }

    .blockmail {
        margin-right: -460px;
    }
}

@media (max-width: 1280px) {
    .uielement{
        display: none;
    }

    .nav-item:first-child {
        margin-left: 90px;
    }

    .start-btn-2 {
        margin-bottom: 100px;
      }
}

@media (max-width: 991px) {
    .navbar-toggler{
        margin-right: 50px;
    }

    .nav-item:first-child{
        margin-left: 50px;
    }

    .nav-item{
        margin-left: 50px;
    }

    .buttons-wrapper {
        justify-content: center;
    }

    .intro {
        width: 126%;
        margin-top: 50px;
    }

    .navbar{
        border-width: 1px 0px 0px;
    }

    .start-btn{
        margin-top: 10px;
        margin-left: 50px;
    }

    .card1, .card2, .card3 {
        width: 300px;
    }

    .supp-cont {
        width: 96%;
    }

    .man {
        margin-left: 10px;
    }

    .big-text {
        font-size: 28px;
    }

    .endblock-cont {
        width: 47%;
    }

    .small-text {
        font-size: 24px;
    }

    .role {
        font-size: 22px;
    }

    .under-block-footer {
        width: 95%;
    }

    .collum-section {
        width: 52%;
    }

    .top{
        font-size: 18px;
        padding-bottom: 0px;
    }

    .under{
        font-size: 16px;
        line-height: 40px;
    }

    .blockmail {
        margin-right: -400px;
    }

    .main {
        font-size: 34px;
    }

    .footername{
        font-size: 32px;
    }

    .phnumber {
        font-size: 16px;
        padding-top: 62px;
    }

    .footer-cont1 {
        width: 95%;
    }

    .i1,.i2,.i3,.i4{
        padding-right: 70px;
        cursor: pointer;
    }

    .byme {
        margin-top: 190px;
    }
}

@media (max-width: 810px) {
    .intro-text-head {
        font-size: 40px;
        line-height: 56px;
    }

    .intro-text-under {
        font-size: 18px;
    }

    .start-btn-2{
        margin-top: 10px;
    }

    .supp-cont {
        width: 85%;
    }

    .cards-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2{
        margin-top: 30px;
    }

    .card3{
        margin-top: 30px;
    }

    .man{
        display: none;
    }

    .endblock-cont {
        width: 55%;
    }

    .blockmail {
        margin-right: -385px;
    }

    .i1,.i2,.i3,.i4{
        padding-right: 60px;
        cursor: pointer;
    }

    .byme {
        margin-top: 190px;
    }

    .footer-cont1 {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .endblock-cont {
        width: 58%;
    }

    .blockmail {
        margin-right: -345px;
    }

    .i1,.i2,.i3,.i4{
        padding-right: 40px;
        cursor: pointer;
    }

    .byme {
        margin-top: 190px;
    }

    .footer-cont1 {
        width: 90%;
    }

    .collum-section {
        width: 55%;
      }

      .intro {
        width: 100%;
      }
}

